<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="@Url.Content("~/Content/styles.css")" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">

            <!-- Sidebar -->
            <div class="sidebar">
                <ul class="nav">
                    <li><a href="@Url.Action("Index", "Home")"><i class="fas fa-home"></i> Trang chủ</a></li>
                    <li><a href="@Url.Action("Index", "ThuongHieu")"><i class="fas fa-tags"></i> Thương Hiệu</a></li>
                    <li><a href="@Url.Action("Index", "TaiKhoan")"><i class="fas fa-user"></i> Tài Khoản</a></li>
                    <li><a href="@Url.Action("Index", "PhanLoai")"><i class="fas fa-th"></i> Phân Loại</a></li>
                    <li><a href="@Url.Action("Index", "DanhMuc")"><i class="fas fa-list"></i> Danh Mục</a></li>
                    <li><a href="@Url.Action("Index", "SanPham")"><i class="fas fa-cogs"></i> Sản Phẩm</a></li>
                    <li><a href="@Url.Action("Index", "DonHang")"><i class="fas fa-box"></i> Đơn Hàng</a></li>
                    <li><a href="@Url.Action("Index", "VanDon")"><i class="fas fa-shipping-fast"></i> Vận Đơn</a></li>
                </ul>
            </div>

        </div>
        </nav>



    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
